.image-container {
	height: 20rem;
	width: 20rem;
	overflow: hidden;
}

.image-scroller img {
	height: 100%;
	width: 100%;
	object-fit: contain;
	object-position: center center;
}


.dot.active {
	color: red;
}
