.search-container {
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;

    width: 20rem;
    padding: 0.5rem;
    margin-right: 1.5rem;
    background-color: var(--primary-color);
    border-radius: 2rem;
    box-shadow: 0 0 0.5rem 0.2rem rgba(0, 0, 0, 0.4);
}

.search-bar {
    display: flex;
    gap: 0.2rem;
    align-items: center;

}

.search-container ul {
    padding: 0;
    margin: 0;
}

.search-input {
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5rem 2.2rem 0.5rem 1rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: 0.1s ease-in-out;
}

.search-input::placeholder {
    color: var(--secondary-color);
    font-weight: 500;
}

.search-icon {
    width: 1.6rem;
    height: 1.6rem;
    padding-left: 0.5rem;
    border: none;
    outline: none;
    color: var(--secondary-color);
    background-color: transparent;
}

.search-icon-fallback {
    width: 1.2rem;
    height: 1.2rem;
    padding-left: 0.5rem;
    padding-right: 0.6rem;
    border: none;
    outline: none;
    color: var(--secondary-color);
    background-color: transparent;
}

.search-clear {
    display: block;
    position: absolute;
    width: 0;
    top: 1.5rem;
    right: 0.85rem;
    border: none;
    background-color: transparent;
}

.search-clear svg {
    width: 1em;
    height: 1rem;
    padding: 0.5rem;
    fill: var(--secondary-color);
    transform: translate(-1.2rem, -1rem);
}

.bottom-line {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0.1rem 0;
}

.search-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: calc(100%);
    padding: 0.25rem 0.25rem;
    border-radius: 0.8rem;
    opacity: 0.8;
    transition: 0.1s ease-in-out;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.search-item:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 0.8rem;
    transition: 0.1s ease-in-out;
}

.search-item .search-result-thumbnail {
    align-items: center;
    justify-content: center;
}

.search-item .search-result-thumbnail img {
    display: flex;
    flex-direction: column;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.6rem;
    object-fit: cover;
}

.search-item .thumbnail-fallback {
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 2.2rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.6rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.search-result-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 0 0 1rem;
    transition: 0.2s ease-in-out;
    mask-size: 100%;
    mask-image: linear-gradient(to right, transparent, black 50%, transparent);
    mask-repeat: no-repeat;
    mask-position: right top;
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    -webkit-mask-size: 100% 50%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: right top, right bottom;
}

.result-clickable {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.search-items {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 21rem;
    background-color: var(--primary-color);
    border-radius: 1rem;
    margin: calc(0.5rem - 0.15rem) 0 0 0;
    z-index: 1;
    box-shadow: 0 0 0.5rem 0.2rem rgba(0, 0, 0, 0.4);
}

.search-items li {
    display: block;
    list-style-type: none;
    margin: 0 5%;
    padding: 0.25rem 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.search-items .search-result-name {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: 600;
}

.search-items .search-result-desc {
    text-decoration: none;
    color: var(--secondary-color);
    opacity: 0.8;
    font-size: 0.8rem;
    font-weight: 400;
}

.search-items .no-projects {
    color: var(--secondary-color);
    padding: 0.5rem 0;
    opacity: 0.8;
}

.search-items .search-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.75rem;
    margin: 0 1rem;
    opacity: 0.4;
}

.search-items .shortcut-tip {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-size: 0.7rem;
    font-weight: 900;
    color: var(--secondary-color);
}

.search-items .highlight-code {
    color: var(--primary-color);
    background: rgba(255, 255, 255, 0.6);
    border-radius: 0.2rem;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0 0.2rem;
    margin: 0 0.2rem;
}
.search-items .keybinds-tip {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-weight: 900;
    color: var(--secondary-color);
    font-size: 0.7rem;
}